.card-text {
    height: 100px;
    overflow: auto;
}
.flag {
    width: 30px;
}
.discount {
    width: 50px;
    height: 50px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 3;
    border-radius: 50%;

}
.card-text::-webkit-scrollbar {
            width: 15px;
        }
        
        .card-text::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
        .card-text::-webkit-scrollbar-thumb {
            background-image: url('https://i.ibb.co/1RHr40z/248599.png'); 
            background-repeat: no-repeat, no-repeat;
            background-size: 15px;
        }